@import 'nord';
@import 'lib/var';
@import 'lib/reset';
@import 'lib/colors';
@import 'lib/display';
@import 'lib/positioning';
@import 'lib/flexbox';
@import 'lib/align';
@import 'lib/spacing';
@import 'lib/buttons';
@import 'lib/forms';
@import 'lib/lists';
@import 'lib/typography';
@import 'lib/z-index';

@import 'components/nav';
@import 'components/header';
@import 'components/card';
@import 'components/resume';
@import 'components/footer';
@import 'components/notes';

html, body {
  background: var(--white);
}

.outer {
  max-width: 1200px;
  padding: 4em 1.2em;
  margin: auto;

  @media (min-width: 900px) {
    padding: 10em 3em;
  }
}

.section {
  margin-bottom: 3em;

  @media (min-width: 900px) {
    margin-bottom: 5em;
  }
}
.section-title {
  padding: 0.2em 0.6em;
  background: var(--blue);
}
