.card {
  margin: 0 3em 1em 0;

  &:hover {
    h1, h2, h3, h4, h5 {
      color: var(--blue);
    }
  }

/*   &:hover::before { */
/*     content:''; */
/*     display: block; */
/*     position: absolute; */
/*     bottom: -0.4em; left: -2em; right: -2em; top: -1em; */
/*     background: white; */
/*     border-radius: 6px; */
/*     box-shadow: 0 0 20px 0 rgba(34, 51, 85, 0.15); */
/*   } */
}
