/* @import 'syntaxes/gh'; */

pre, code {
  font-size: 0.9em;
}
pre {
  padding: 1.5em;
  overflow: auto;
  border: 0 !important;
  border-left: 4px solid whitesmoke !important;

  code {
    background-color: transparent;
  }
}
code {
  background-color: whitesmoke;
}
