.header {
  margin-bottom: 3em;

  a {
    color: var(--blue);

    &:focus, &:hover {
      outline: 0;
      color: var(--black);
    }
  }

  hr {
    margin-top: 2em;

    @media (min-width: 900px) {
      margin-top: 3em
    }
  }
}
