.nav {
  padding: 1em 1.2em;
  max-width: 1200px;

  @media (min-width: 900px) {
    padding: 2em 3em;
  }

  & li {
    margin-left: 2em;
  }

  h1 {
    & span {
      display: block;
      position: absolute;
      left: 0; right: 0; bottom: -5px;
      height: 2px;
      background-color: currentColor;
      opacity: 0;
    }
    &:hover span {
      opacity: 1;
    }
  }
}
